.DS_Store
*.sublime-project
*.sublime-workspace
*.log
.serverless
v8-compile-cache-*
jest/*
.serverless_plugins
.serverlessUnzipped
node_modules
vendor
.vscode/
.husky/
.eslintcache
dist
.idea
build/
.env*
env.js
package-lock.json
yarn.lock
example
CHANGELOG.md
README.md
composer.*
bootstrap/
storage/
public/
vite.config.js
tailwind.config.js
postcss.config.js
prettier.config.js
webpack.mix.js
docker-compose.yml
.styleci.yml
package.*